{% extends 'base.html' %}
{% load static %}
{% block header %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{% static 'nluengine/js/moment.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'nluengine/css/search_style.css' %}">
{% endblock %}
{% block title %}Search{% endblock %}
{% block main %}
    <div class="search-container">

        <img src="{% static 'nluengine/img/openCampuslogo.png' %}" alt="">
        <h1>Knowledge Engine</h1>

        <div class="search-form">
            {% csrf_token %}
            {% if question_hint %}
                <input id="searchbar" type="text" placeholder="{{ question_hint.question }} ">
            {% else %}
                <input id="searchbar" type="text" placeholder="¿Que deseas conocer? ">
            {% endif %}
            <button class="btn-search"><img src="{% static 'nluengine/img/magnifier-tool.png' %}" onclick="search()"
                                            alt=""></button>
        </div>

        <p id="response"></p>
    </div>
    <script type="text/javascript">
        $("#response").hide();
        var csrftoken = Cookies.get('csrftoken');
        function search() {
            var date =  moment().format('YYYY-MM-DDTHH:mm:ss');
            var query = '{ "created_at":"'+ date+'","text":"'+ document.getElementById("searchbar").value+'",   "social_network": {     "id_account": 4,     "social_network": "W"   } }';
            $("#response").empty();
            $("#searchbar").val('');
            var URL = "/handler/user/input/";
            makeAjaxCall(URL, "POST", query).then(function (respJson) {
                console.log(respJson);
                if (respJson['intent'] != null) {
                    $("#response").show()
                        .append($.parseHTML("<i>" + respJson['intent'] + "</i>"))
                        .css("background-color", "#4ca64c");
                } else {
                    $("#response").show()
                        .append($.parseHTML("Aun no conozco a que te refieres con: <i>" + respJson['input'] + "</i>"))
                        .css("background-color", "#cc0000");
                }
            }, function (reason) {
                console.log("error in processing your request", reason);
            });

        }

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function makeAjaxCall(url, methodType, data,callback) {
            return $.ajax({
                url: url,
                method: methodType,
                dataType: "json",
                contentType: 'application/json',
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                data: data,
            })
        }
    </script>
{% endblock %}