{% extends 'base.html' %}
{% load static %}
{% block header %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{% static 'nluengine/js/moment.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'nluengine/css/search_style.css' %}">
{% endblock %}
{% block title %}Search{% endblock %}
{% block main %}
    <div class="search-container">

        <img src="{% static 'nluengine/img/openCampuslogo.png' %}" alt="">
        <h1>Knowledge Engine</h1>

        <div class="search-form">
            {% csrf_token %}
            {% if question_hint %}
                <input id="searchbar" type="text" placeholder="{{ question_hint.question }} ">
            {% else %}
                <input id="searchbar" type="text" placeholder="¿Que deseas conocer? ">
            {% endif %}
            <button class="btn-search"><img src="{% static 'nluengine/img/magnifier-tool.png' %}" onclick="search()"
                                            alt=""></button>
        </div>

        <p id="response"></p>
    </div>
    <script type="text/javascript">
        $("#response").hide();
        var context = [];
        var csrftoken = Cookies.get('csrftoken');
        var state = false;
        var last_JSON = {};
        var cont_questions = 0;
        var total_questions = 0;

        function search() {
            var date = moment().format('YYYY-MM-DDTHH:mm:ss');
            // Un comment this to test against engine directly
            // var query = '{"query":"' + document.getElementById("searchbar").value + '"}';
            //if (clear) {
            var text = document.getElementById("searchbar").value;
            if (state) {
                var add = true;
                for (var i = 0; i < context.length; i++) {
                    if (context[i]["entity"] === last_JSON["context_vars"][0]["entity"]) {
                        context[i]["value"] = text;
                        add = false;
                        break
                    }
                }
                if (add){
                    context.push({"value": text, "entity": last_JSON["context_vars"][0]["entity"]});
                }
            }
            var query = {
                "created_at": date,
                "text": text,
                "social_network": {"id_account": 4, "social_network": "W"}, "context": context
            };
            if ("intent" in last_JSON) {
                query["intent"] = last_JSON["intent"];
            }
            console.log(">>> SENT");
            console.log(query);
            $("#response").empty();
            $("#searchbar").val('');
            if (total_questions > 0) {
                $("#response").append($.parseHTML("<i>" + last_JSON['context_vars'][cont_questions]["question"] + "</i>"))
                    .css("background-color", "#4ca64c");
                cont_questions = cont_questions + 1;
                total_questions = total_questions - 1;
            } else {
                // Un comment this to test against engine directly
                //var URL = "/engine/resolve/";
                var URL = "/handler/user/input/";

                makeAjaxCall(URL, "POST", JSON.stringify(query)).then(function (respJson) {
                    console.log(">>> RECEIVED");
                    console.log(respJson);
                    for (var i = 0; i < respJson["context"].length; i++) {
                        var add = true;
                        for (var j = 0; j < context.length; j++) {
                            if (respJson["context"][i]["entity"] === context[j]["enitity"]) {
                                context[j]["value"] = respJson["context"][i]["value"];
                                add = false;
                                break
                            }
                        }
                        if (add) {
                            context.push({
                                "value": respJson["context"][i]["value"],
                                "entity": respJson["context"][i]["entity"]
                            });
                        }
                    }

                    if ("context_vars" in respJson) {
                        state = true;
                        total_questions = respJson["context_vars"].length;
                        $("#response").show().append($.parseHTML("<i>" + respJson['context_vars'][cont_questions]["question"] + "</i>"))
                            .css("background-color", "#4ca64c");
                        cont_questions = cont_questions + 1;
                        total_questions = total_questions - 1;
                    }
                    else {
                        if (respJson['intent'] != null) {
                            $("#response").show()
                                .append($.parseHTML("<i>" + respJson['answer'] + "</i>"))
                                .css("background-color", "#4ca64c");
                            if (respJson["solved"] === true) {
                                delete respJson["solved"];
                                delete respJson["intent"];

                            }
                        } else {
                            $("#response").show()
                                .append($.parseHTML("Aun no conozco a que te refieres con: <i>" + respJson['input'] + "</i>"))
                                .css("background-color", "#cc0000");
                        }
                    }
                    last_JSON = respJson;

                }, function (reason) {
                    console.log("error in processing your request", reason);
                });

            }

        }

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function makeAjaxCall(url, methodType, data, callback) {
            state = false;
            return $.ajax({
                url: url,
                method: methodType,
                dataType: "json",
                contentType: 'application/json',
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                data: data,
            });

        }
    </script>
{% endblock %}