<!doctype html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="keywords" content="NLU, Chatbot">
    <meta name="author" content="Andre Herrera">
    <meta name="description" content="NLU system">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'base_style.css' %}">
    {% block header %}
    {% endblock %}
    <title>{% block title %}{% endblock %}  </title>

</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'search' %}"> Search</a></li>
            <li><a href="{% url 'knowledge' %}">Knowledge</a></li>
            <li><a href="{% url 'upload_file' %}">Train</a></li>
        </ul>
    </nav>
</header>
{% block main %}

{% endblock %}
<footer>
    <h6><a href="https://github.com/astandre/chatbot-system"> Acerca de</a></h6>
    {% block footer %}
    {% endblock %}
</footer>
</body>
</html>

